@charset "utf-8";

.community {
  margin-top: 108px;
}

.community .inner {
}

.notice {
  display: block;
  width: 50%;
  padding-right: 40px;
  border-right: 1px solid #e7e7e7;
  float: left;
  font-family: "Noto Sans KR";
}

.news {
  display: block;
  width: 50%;
  float: left;
  padding-left: 40px;
  font-family: "Noto Sans KR";
}

.community-left {
  float: left;
  width: 160px;
  font-size: 22px;
}
.community-right {
  float: left;
  width: calc(100% - 160px);
}
.community-heading {
  display: block;
  color: #333;
  font-weight: 700;
  line-height: 32px;
}

.community-list {
}

.community-list li {
  line-height: 32px;
}
.community-list li a {
}

.community-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #58595b;
  letter-spacing: -0.0625rem;
  float: left;
  width: 80%;
}

.community-list-day {
  letter-spacing: -0.0625rem;
  color: #58595b;
  float: right;
  width: 20%;
  text-align: right;
}
