@charset "utf-8";
header {
  position: relative;
  z-index: 99999;
  margin-top: 24px;
}

header::after {
  position: absolute;
  top: 126px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background: gray;
}
header .inner {
  width: 1400px;
  height: 126px;
  margin: 0 auto;
}
.lang-box {
  position: absolute;
  top: 4px;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
  font-family: "Noto Sans KR";
}

.lang-box > .lang-list {
  display: flex;
  gap: 0px 4px;
}
.lang-list > li {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}
.lang-list > li:last-child {
  color: #bcbdc1;
  text-decoration: none;
  margin-left: 10px;
}
.gnb-wrap {
  display: flex;
  width: 100%;
  height: 106px;
}

.logo {
  display: flex;
  align-items: center;
  width: 296px;
  height: 106px;
}

.gnb-wrap > .gnb {
  display: flex;
  width: 100%;
  height: 100%;
}

.gnb > .gnb_list {
  display: flex;
  height: 100%;
  margin-top: 2px;
  margin-left: 31px;
}

.gnb_list > li {
  margin-left: 48px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1.1px;
}
.gnb_list .gnb-active img {
  display: inline-block;
  margin:-10px 20px 0 -30px;
}
.gnb_list > li:nth-child(1) {
  width: 120px;
}
.gnb_list > li:nth-child(2) {

}
.gnb_list > li:nth-child(6) {
  margin-right: 15px;
}
.account-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}
.account-list > li {
  margin-left: 40px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
}

.account-list > li:first-child {
  margin-left: 0;
}

.cate-box {
  display: none;
  position: absolute;
  top: 126px;
  left: 0px;
  width: 100%;
  height: 540px;
  box-shadow: 0 0 0 3px blue inset;
}

.cate-box > .cate-box-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.cate-box-inner > .cate-box-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 30px 0px 30px 40px;
  background: gold;
}

.cate-box-list > li {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: rgb(51, 51, 51);
}

.cate-box-list > li > a {
  line-height: 38px;
  color: #818286;
}
.cate-box-list > li > a:hover {
  color:#000;
  font-weight: 700;
}
.cate-box-list > li > a:hover {
  color: black;
  font-weight: 700;
}
.cate-box-inner > .cate-box-content {
  position: relative;
  width: 702px;
  height: 100%;
  background: goldenrod;
}

.cate-box-content > li {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.cate-box-content .cate-box-content-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 362px;
  display: flex;
  padding: 30px 0px 30px 40px;
  background: lightgoldenrodyellow;
}
.cate-box-content-item {
  
}
.cate-box-content-list > li {
  font-size: 16px;
  font-weight: 400;
  width: 170px;
  margin-right:40px;
  color: rgb(51, 51, 51);
}
.cate-box-content-list > li:hover {
  background: url("../images/1.header/icon_gnb_arrow.png") no-repeat right center;
}
.cate-box-content-list > li > a {
  line-height: 38px;
  color: #818286;
}
.cate-box-content-list > li > a:hover {
  text-decoration:underline;
  color:#000;
  font-weight: 700;
}
.cate-box-content-item {
  position:absolute;
  top:0;
  left:392px;
  width: 100%;
  height: 100%;
}
.cate-box-content-item li {
  height: 100%;
}
.cate-box-content-item li div {
  margin-bottom:20px;
  width: 308px;
  height: 80px;
}
.cate-box-content-item li div img {
  float:left;
  margin-right:10px;
  width: 78px;
  height: 78px;
  border-radius: 20px;
}
.content-item-list li div p {
  padding-top:9px;
  padding-bottom:5px;
  line-height: 19.2px;
  font-size: 16px;
  font-weight: 700;
  color:rgba(51,51,51);
}
.cate-box-content-item li:nth-child(1) {
  margin-top:40px;
}
.cate-box-content-item li span {
  font-weight: 700;
  font-size: 13px;
}
.cate-box-content-item li span:first-child {
}

.cate-box-content-item li span:last-child {
  text-decoration:line-through;
  margin-left:17px;
  color:#818286
}
.cate-box-content-item li span em {
  font-size: 18px;
  margin-right:3px;
}
.content-img {
  position:absolute;
  left:310px;
  top:0;
  width: 400px;
  height: auto;
  margin-top:40px;
}
.content-img .main {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.content-img p {
  padding-top:20px;

}
.content-item-list {

}




/* .cate-box-content-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 362px;
  height: 540px;
  font-size: 16px;
  padding: 30px 0px 30px 40px;
  background-color: aqua;
}
.cate-box-content-list li {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: rgb(51, 51, 51);
}
.cate-box-content-list li a:hover {
  color: #000;
  font-weight: 700;
  background: url(../images/1.header/icon_gnb_arrow.png) no-repeat right center;
}
.cate-box-content-list li a {
  line-height: 38px;
  color: #818286;
}
.cate-box-content-list li a:hover {
  text-decoration: underline;
}
.cate-box-content-info {
  position: absolute;
  top: 0;
  left: 362px;
  width: 340px;
  height: 100%;
  background-color: blueviolet;
  font-size: 16px;
}
.cate-box-content-info li {
}
.cate-box-content-info li:first-child {
  margin-top: 40px;
}
.cate-box-content-info li div {
  width: 306px;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
}
.cate-box-content-info li img {
  width: 78px;
  height: 78px;
  float: left;
  border-radius: 20px;
  margin-right: 21px;
}
.cate-box-content-info li p {
  padding-top: 9px;
  padding-bottom: 15px;
}
.cate-box-content-info li p:hover {
  text-decoration: underline;
}
.cate-box-content-info li span {
  display: inline-block;
  margin-left: 17px;
  color: #bcbdc1;
  text-decoration: line-through;
  font-weight: 700;
}
.cate-box-content-main {
  position: absolute;
  top: 0;
  left: 702px;
  width: 400px;
  height: 100%;

  font-size: 16px;
}
.cate-box-content-main div {
  margin-top: 40px;
}
.cate-box-content-main p {
  margin-top: 22px;
  width: 226px;
  height: 36px;
}
.cate-box-content-main img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.cate-box-content > li:first-child {
  background: red;
}

.cate-box-content > li:nth-child(2) {
  background: orange;
}

.cate-box-content > li:nth-child(3) {
  background: yellow;
}

.cate-box-content > li:nth-child(4) {
  background: green;
}

.cate-box-content > li:nth-child(5) {
  background: blue;
}

.cate-box-content > li:nth-child(6) {
  background: skyblue;
}

.cate-box-content > li:nth-child(7) {
  background: pink;
}

.cate-box-content > li:nth-child(8) {
  background: honeydew;
} */

.cate-box-content > li:nth-child(9) {
  background: black;
}

/* .header-left {
  width: 296px;
  height: 106px;
  float: left;
} */

/* .

.gnb-wrap > .gnb {
  width: 100%;
  height: 100%;
  background: gold;
}

.header-right {
  position: relative;
  width: 1104px;
  height: 100%;
  float: right;
  overflow: hidden;
}
.lang {
  position: absolute;
  top: 3px;
  right: 5px;
}
.lang li {
  float: left;
  margin-left: 14px;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 530;
  letter-spacing: -0.7px;
}
.lang li:last-child {
  color: lightgray;
  text-decoration: none;
}

.gnb {
  position: absolute;
  top: 2px;
  left: 49px;
  display: block;
  width: 760.5px;
  height: 106px;
}
.gnb li {
  float: left;
  line-height: 106px;
  font-weight: 500;
}
.gnb li:nth-child(1) {
  display: block;
  margin-right: 20px;
  margin-top: -4px;
}
.gnb li:nth-child(2) {
  display: block;
  margin-right: 47px;
  margin-top: 1px;
}
.gnb li:nth-child(3) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(4) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(5) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(6) {
  display: block;
  margin-right: 62px;
  margin-top: 1px;
}
.gnb li:nth-child(7) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:last-child {
  display: block;
  margin-right: 0;
  margin-top: 1px;
}

.gnb li a {
  display: block;
  font-size: 22px;
  letter-spacing: -1px;
}
.gnb li a:hover {
  color: #000;
  font-weight: bold;
}

.top-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;

  width: 253px;
  height: 32px;
  line-height: 106px;
}
.top-menu li {
  float: left;
  margin-left: 40px;
}
.top-menu li:nth-child(3) {
  margin-top: -1px;
} */

/* .cate-box {
  position: absolute;
  top: 106px;
  left: 0px;
  width: 1400px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}
.gnb .gnb-cate .gnb-cate:hover .cate-box {
  display: block;
}


.sub1-1 li,
.sub1-2 li {
  padding-left: 40px;
}
.sub1-1,
.sub1-2,
.sub1-3,
.sub1-4 {
  display: block;
}

.sub1-1 {
  position: absolute;
  top: 0;
  left: 0px;
  float: left;
  width: 298px;
  height: 536px;
  background-color: #f7fafc;
}
.sub1-2 {
  position: absolute;
  top: 0;
  left: 296px;
  float: left;
  width: 363px;
  height: 536px;
}
.sub1-3 {
  position: absolute;
  top: 0;
  left: 660px;
  float: left;
  width: 340px;
  height: 536px;
}
.sub1-3 div {
  width: 310px;
  height: 80px;
}
.sub1-3 div img {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  float: left;
  margin-right: 15px;
}
.sub1-3 div p {
  padding-bottom: 15px;
  padding-top: 10px;
}
.sub1-3 div p:hover {
  text-decoration: underline;
}

.sub1-4 {
  position: absolute;
  top: 0;
  left: 1000px;
  float: left;
  width: 400px;
  height: 536px;
}
.sub1-1 li a,
.sub1-2 li a {
  display: block;
  padding-top: 25px;
  color: #666;
}
.sub1-1 li a:hover,
.sub1-2 li a:hover {
  font-weight: bold;
  color: #000;
}

.sub1-1 li:first-child a,
.sub1-2 li:first-child a {
  padding-top: 37px;
}
.sub1-1 li:first-child a {
  font-weight: bold;
}
.sub1-3 li {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
.sub1-3 li:nth-child(1) {
  margin-top: 28px;
}
.sub1-3 li img {
  width: 78px;
  height: 78px;
}
.sub1-3 li span {
  margin-left: 15px;
  text-decoration: line-through;
  color: lightgray;
}

.sub1-4 img {
  margin-top: 23px;
  margin-bottom: 22px;
  display: block;
  width: 400px;
  height: 400px;
  border: none;
  border-radius: 40px;
  float: left;
}
.sub1-4 p {
  font-weight: bold;
  font-size: 17px;
}
*/
