@charset "utf-8";
header {
  position: relative;
  z-index: 99999;
  margin-top: 24px;
}

header::after {
  position: absolute;
  top: 126px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background: gray;
}
header .inner {
  width: 1400px;
  height: 126px;
  margin: 0 auto;

  .lang-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
    font-family: "Noto Sans KR";
  }

  .lang-box > .lang-list {
    display: flex;
    gap: 0px 5px;
  }
  .lang-list > li {
    text-decoration: underline;
  }
  .gnb-wrap {
    display: flex;
    width: 100%;
    height: 106px;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 296px;
    height: 106px;
  }

  .gnb-wrap > .gnb {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .gnb > .gnb_list {
    display: flex;
    height: 100%;
  }

  .gnb_list > li {
    margin-left: 48px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-weight: 500;
  }

  .gnb_list > li:nth-child(2) {
    margin-left: 20px;
  }

  .account-list {
    margin-left: 30px;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .account-list > li {
    margin-left: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-weight: 500;
  }

  .account-list > li:first-child {
    margin-left: 0;
  }

  .cate-box {
    display: flex;
    position: absolute;
    top: 126px;
    left: 0px;
    width: 100%;
    height: 540px;
    box-shadow: 0 0 0 3px blue inset;
  }

  .cate-box > .cate-box-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    padding: 30px 0px 30px 40px;
    background: gold;
  }

  .cate-box-list > li {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: rgb(51, 51, 51);
  }

  .cate-box-list > li > a {
    line-height: 38px;
  }

  .cate-box > .cate-box-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: goldenrod;
  }

  .cate-box-content > li {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .cate-box-content > li:first-child {
    background: red;
  }

  .cate-box-content > li:nth-child(2) {
    background: orange;
  }

  .cate-box-content > li:nth-child(3) {
    background: yellow;
  }

  .cate-box-content > li:nth-child(4) {
    background: green;
  }

  .cate-box-content > li:nth-child(5) {
    background: blue;
  }

  .cate-box-content > li:nth-child(6) {
    background: skyblue;
  }

  .cate-box-content > li:nth-child(7) {
    background: pink;
  }

  .cate-box-content > li:nth-child(8) {
    background: honeydew;
  }

  .cate-box-content > li:nth-child(9) {
    background: black;
  }

  /* .header-left {
  width: 296px;
  height: 106px;
  float: left;
} */

  /* .

.gnb-wrap > .gnb {
  width: 100%;
  height: 100%;
  background: gold;
}

.header-right {
  position: relative;
  width: 1104px;
  height: 100%;
  float: right;
  overflow: hidden;
}
.lang {
  position: absolute;
  top: 3px;
  right: 5px;
}
.lang li {
  float: left;
  margin-left: 14px;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 530;
  letter-spacing: -0.7px;
}
.lang li:last-child {
  color: lightgray;
  text-decoration: none;
}

.gnb {
  position: absolute;
  top: 2px;
  left: 49px;
  display: block;
  width: 760.5px;
  height: 106px;
}
.gnb li {
  float: left;
  line-height: 106px;
  font-weight: 500;
}
.gnb li:nth-child(1) {
  display: block;
  margin-right: 20px;
  margin-top: -4px;
}
.gnb li:nth-child(2) {
  display: block;
  margin-right: 47px;
  margin-top: 1px;
}
.gnb li:nth-child(3) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(4) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(5) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:nth-child(6) {
  display: block;
  margin-right: 62px;
  margin-top: 1px;
}
.gnb li:nth-child(7) {
  display: block;
  margin-right: 48px;
  margin-top: 1px;
}
.gnb li:last-child {
  display: block;
  margin-right: 0;
  margin-top: 1px;
}

.gnb li a {
  display: block;
  font-size: 22px;
  letter-spacing: -1px;
}
.gnb li a:hover {
  color: #000;
  font-weight: bold;
}

.top-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;

  width: 253px;
  height: 32px;
  line-height: 106px;
}
.top-menu li {
  float: left;
  margin-left: 40px;
}
.top-menu li:nth-child(3) {
  margin-top: -1px;
} */

  /* .cate-box {
  position: absolute;
  top: 106px;
  left: 0px;
  width: 1400px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}
.gnb .gnb-cate .gnb-cate:hover .cate-box {
  display: block;
}


.sub1-1 li,
.sub1-2 li {
  padding-left: 40px;
}
.sub1-1,
.sub1-2,
.sub1-3,
.sub1-4 {
  display: block;
}

.sub1-1 {
  position: absolute;
  top: 0;
  left: 0px;
  float: left;
  width: 298px;
  height: 536px;
  background-color: #f7fafc;
}
.sub1-2 {
  position: absolute;
  top: 0;
  left: 296px;
  float: left;
  width: 363px;
  height: 536px;
}
.sub1-3 {
  position: absolute;
  top: 0;
  left: 660px;
  float: left;
  width: 340px;
  height: 536px;
}
.sub1-3 div {
  width: 310px;
  height: 80px;
}
.sub1-3 div img {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  float: left;
  margin-right: 15px;
}
.sub1-3 div p {
  padding-bottom: 15px;
  padding-top: 10px;
}
.sub1-3 div p:hover {
  text-decoration: underline;
}

.sub1-4 {
  position: absolute;
  top: 0;
  left: 1000px;
  float: left;
  width: 400px;
  height: 536px;
}
.sub1-1 li a,
.sub1-2 li a {
  display: block;
  padding-top: 25px;
  color: #666;
}
.sub1-1 li a:hover,
.sub1-2 li a:hover {
  font-weight: bold;
  color: #000;
}

.sub1-1 li:first-child a,
.sub1-2 li:first-child a {
  padding-top: 37px;
}
.sub1-1 li:first-child a {
  font-weight: bold;
}
.sub1-3 li {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}
.sub1-3 li:nth-child(1) {
  margin-top: 28px;
}
.sub1-3 li img {
  width: 78px;
  height: 78px;
}
.sub1-3 li span {
  margin-left: 15px;
  text-decoration: line-through;
  color: lightgray;
}

.sub1-4 img {
  margin-top: 23px;
  margin-bottom: 22px;
  display: block;
  width: 400px;
  height: 400px;
  border: none;
  border-radius: 40px;
  float: left;
}
.sub1-4 p {
  font-weight: bold;
  font-size: 17px;
}
*/
}